---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ siteUrl }}/</loc>
    <priority>1.00</priority>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>{{ post.url | absUrl }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <priority>0.80</priority>
  </url>
  {%- endfor %}
</urlset>
